@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.header {
    position: absolute;
    top: 25px;
    width: 100%;
}

.menu-link {
    color: #eee;
    margin-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

.menu-link:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #20c997;
    position: absolute;
    bottom: -5px;
    transform: scale(0);
    transition: 0.4s;
}

.menu-link:hover:before {
    transform: scale(1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background: rgba(0, 0, 0, 0.5) url("../images/hero-img.jpg") no-repeat top center/cover;
    background-blend-mode: darken;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #eee;
}

.hero-desc {
    font-size: 24px;
    color: #eee;
    margin-bottom: 50px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    color: #eee;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #eee;
    border-radius: 30px;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #2dc997;
}

.about {
    padding: 80px 0;
    transition: 1s;
}

.about:hover {
    transform: scale(1.1);
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.about-title {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-desc {
    line-height: 26px;
    margin-bottom: 30px;
    color: #666;
}

.about-box {
    display: flex;
    margin-bottom: 20px;
}

.about-icon {
    width: 72px;
    min-width: 72px;
    height: 72px;
    border: 2px solid #2dc997;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: #2dc997;
    transition: 0.5s;
}

.about-box:hover .about-icon {
    background: #2dc997;
    color: #fafafa;
}

.about-icon span {
    font-size: 24px;
}


.about-caption {
    font-size: 18px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about-info {
    line-height: 24px;
    font-size: 14px;
}

.about-img {
    max-width: 100%;
}

.section-title {
    text-transform: uppercase;
    color: #111;
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    text-align: center;

}

.section-desc {
    color: #999;
    margin-bottom: 40px;
    text-align: center;
}

.facts {
    background-color: #f7f7f7;
    padding: 80px 0 60px 0;
    transition: 1s;
}

.facts:hover {
    transform: scale(1.1);
}

.facts-stats {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.facts-number {
    color: #2dc997;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.facts-title {
    color: #666666;
}

.services {
    padding: 80px 0 60px 0;
    transition: 1s;
}

.services:hover {
    transform: scale(1.1);
}

.container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.col-4 {
    width: 33.333%;
    padding: 0 15px;
}

.services-box {
    border: 1px solid #e6e6e6;
    margin-bottom: 50px;
    background-color: #fafafa;
    padding: 50px 20px;
    text-align: center;
    height: 200px;
    cursor: pointer;
    position: relative;
}

.box-title {
    color: #111;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}

.box-description {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    margin-bottom: 70px;
}

.services-icon {
    border: 2px solid #2dc997;
    width: 72px;
    height: 72px;
    border-radius: 50px;
    background-color: #2dc997;
    position: absolute;
    top: -36px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
}

.services-icon:hover {
    background-color: whitesmoke;
    color: #2dc997;
}

.portfolio {
    background-color: #f7f7f7;
    padding: 80px 0 60px 0;
}

.portfolio-list {
    list-style: none;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto 25px auto;
    transition: 0.5s;
}

.portfolio-item {
    border-radius: 4px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: 12px 18px 14px 18px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px 10px 5px;
}

.portfolio-item:hover {
    background-color: #2dc997;
}

.portfolio-picture {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: #2dc997;
    padding: 20px 10px;
    transition: 0.4s;
}

.portfolio-picture:hover .overlay {
    bottom: 0;
}

.portfolio-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.portfolio-picture:hover .portfolio-img {
    transform: translateY(-20px);
}

.team {
    padding: 80px 0 60px 0;
    text-align: center;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-5 {
    width: 41.6666%;
    padding: 0 15px;
}

.team-card {
    margin-bottom: 50px;

}
.team-card .bx{
    font-size: 25px;
}
.social-icon {
    color: #999999;
    font-size: 21px;
    margin-right: 5px;
    text-decoration: none;
}



.social-icon:hover {
    color: #2dc997;
}

.team-title {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #666666;
    transition: 1s;
}

.team-desc {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #666666;
    margin-bottom: 20px;
}

.team-img {
    margin-bottom: 8px;
    position: relative;
    transition: 1s;
}

.team-img:hover {
    transform: scale(1.1);
}

.team-img:before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -8px;
    top: -8px;
    border-left: 3px solid #165016;
    border-top: 3px solid #165016;
}

.team-img:after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: -8px;
    bottom: -8px;
    border-right: 3px solid #165016;
    border-bottom: 3px solid #165016;
}

.team-card:hover .team-title {
    transform: scale(1.1);
    background-color: #111111;
    font-size: 14px;
}

.card {
    margin-bottom: 48px;
}
.contact{
    margin-bottom: 20px;
}

.contact-icon {
    display: flex;
    color: #333333;
    margin-bottom: 20px;
    text-align: start;
    font-size: 14px;
    line-height: 22px;
}

i {
    color: #2dc997;
    font-size: 35px;
    margin-right: 20px;
}

.social-links {
    margin-bottom: 18px;

}


.contact-social {
    font-size: 20px;
    display: inline-flex;
    width: 35px;
    height: 35px;
    background-color: #333;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 3px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.contact-social:hover{
    background-color: #2dc997;
}
.name {
    border: 1px solid #ced4da;
    margin-bottom: 25px;
    width: 400px;
    height: 35px;
    padding: 12px 6px;
    font-size: 16px;
    border-radius: 5px;
}

.message {
    margin-bottom: 18px;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
}


.form-message {
    margin-bottom: 18px;
    padding: 12px 6px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100px;
}

.contact {
    background-color: #f8f9fa;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    font-size: 16px;
    color: #fff;
    padding: 10px 24px;
    background: #2dc997;
    border: none;
    cursor: pointer;
    display: flex;
    margin: auto;
}

.contact-btn:hover {
    background-color: #59e5b2;
    transition: 0.4s;
}

.footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

.footer-title {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.footer-subtitle {
    font-size: 12px;
    text-align: center;
}

.row-contact {
    display: flex;
    justify-content: center;
}

.burger {
    font-size: 28px;
    color: #fff;
    display: none;
}

.o-hidden {
    overflow: hidden;
}